* {
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}

html, body {
    margin: 0px;
    padding:0px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin:1px;
}

.head {
    background-color: lightseagreen;
    color:white;
    padding:8px;
}
.list{
    margin:5px;
    float:left;
}

.list ul{
    padding:0px 15px;
}
.main {
    float:left;
    padding: 5px;
    border:0;
    border-left: 3px;
    border-style: solid;
    border-color: black;
    height: 100%;
}

